doctype html
head
    title SERLER
    |     
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    |     
    link(rel='stylesheet', href='layout/styles/layout.css', type='text/css')
    |     
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    |     
    script(type='text/javascript', src='layout/scripts/jquery.min.js')
    |     
    script(type='text/javascript', src='layout/scripts/jquery.slidepanel.setup.js')
    |     
    script(type='text/javascript', src='layout/scripts/jquery.ui.min.js')
    |     
    script(type='text/javascript', src='layout/scripts/jquery.tabs.setup.js')
    |     
  body
    .wrapper.col0
      ul(data-role='listview')
        .document-frame
          .title Articles
          |             
          br
          |             
          table(border='1', style='width:100%')
            tr
              td
                a(href='firstArticle/practice1.html') Practice 1
              |                 
              td
                a(href='firstArticle/reference1.html') References 1
              |                 
              td
                a(href='firstArticle/evidence1.html') Evidence Context 1
              |                 
              td
                a(href='firstArticle/description1.html') Description 1
            |               
            tr
              td
                a(href='secondArticle/practice2.html') Practice 2
              |                 
              td
                a(href='secondArticle/reference2.html') References 2
              |                 
              td
                a(href='secondArticle/evidence2.html') Evidence Context 2
              |                 
              td
                a(href='secondArticle/description2.html') Description 2
            |               
            tr
              td
                a(href='thirdArticle/practice3.html') Practice 3
              |                 
              td
                a(href='thirdArticle/reference3.html') References 3
              |                 
              td
                a(href='thirdArticle/evidence3.html') Evidence Context 3
              |                 
              td
                a(href='thirdArticle/description3.html') Description 3
