doctype html
html
  head
    title= title
    script(src="../public/javascripts/jquery.min.js")
    script(src="../public/javascripts/jquery.slidepanel.setup.js")
    script(src="../public/javascripts/jquery.tabs.setup.js")
    script(src="../public/javascripts/jquery.ui.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
    script(type="text/javascript").
      $(document).ready(function(){
          $("#advanced_btn").click(function(){
            $("#advancesearch").show();
          });
          $("#start_search_btn").click(function(){
            $("#searchresult").show();
          });
      });
  body
    block content
